extends sidebar 

block main 
  main 
    h2 Item: #{item.name}
    img(
      src=(undefined === item.img ? '/images/no_image.jpg' : item.img.substring(6)),
      alt=''
    )
    p Price: $#{item.price}
    h3 Summary:
    p=item.description
    hr
    if deleteItem 
      p #[strong Are you sure you want to delete the item?]
      form(action="", method="post") 
        label(for='password') Enter Password: 
          input#password(type="password", name="password", required=true)
        input#itemid(type="hidden", name="itemid", required=true, value=item._id)
        button(type="submit") Submit
      if errors 
        ul 
          each error in errors 
            li= error.msg
    else  
      p
        a(href=item.url+'/update') Update item 
      p 
        a(href=item.url+'/delete') Delete item

