extends sidebar

block main
  
  main
    div.header
      h2=title
      a(href='/stocks/item/create') Add items
    dl 
      each item in items 
        a(href=item.url)
          div.card
            if item.img 
              img(src=item.img.substring(6), alt="")
            else 
              img(src='/images/no_image.jpg', alt='')
            dt=item.name
            dd Price: $#{item.price}

      else
        dt There are no items.    